body {
  min-height: 1200px;
}

.jumbotron {
  margin-bottom: 70px;
}

.navbar {
  min-height: 80px;
  margin-bottom: 0;
}

.container-fluid {
  min-height: inherit;
}

ul {
  min-height: inherit;
}

li {
  min-height: inherit;
}

a {
  min-height: inherit;
  font-family: Orbitron;
  color: #20bfd2;
}

.navbar-nav>li>a {
  line-height: 50px;
  font-size: 20px;
}

.navbar-header {
  min-height: inherit;
}

.nav>li>a {
  padding: 15px 15px;
}

.col-lg-4 {
  text-align: center;
}

nav {
  text-align: center;
}

.navbar-default {
  background-color: white;
  border-color: #20bfd2;
}

.navbar-default .navbar-nav>li>a{
  color: #20bfd2;
}

body {
  background-color: #f8f8f8;
}

.navbar-right {
  margin-right: 0px;
}

.col-lg-4 .glyphicon {
  font-size: 32px;
  color: #20bfd2;
}
