body {
  min-height: 1200px;
  background-color: #f8f8f8;
}

nav {
  position: relative;
  min-height: 80px;
}

.navbar{
  margin-bottom: 0;
}

.navbar-default {
  background-color: white;
  border-color: #20bfd2;
}

.navbar-header {
  width: 350px;
  height: 80px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -40px 0 0 -175px;
}

.jumbotron {
  margin-bottom: 60px;
}

.navbar-nav>li>a {
  line-height: 50px;
  font-size: 20px;
  min-height: inherit;
  font-family: Orbitron;
  color: #20bfd2 !important;
  padding: 15px 15px;
}

.col-md-4 {
  text-align: center;
}

.col-md-4 .glyphicon {
  font-size: 32px;
  color: #20bfd2;
}
